
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display");

* {
  min-width: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: inherit;
  color: burlywood;
  scroll-behavior: smooth;    
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/cup-of-coffee-1280537_1280.jpg");
  background-size: cover;
  background-position: 50% 30%;
}
nav {
  width: 100%;
  height: 100px;
  background: #000000a4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  color: grey;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 3px 3px #898941;
  -webkit-text-stroke: 2px #e7af6e;
  transition: 0.5s;
}
.logo span:hover {
  text-shadow: 0 0 20px rgb(245, 245, 237);
}
.social-links i {
  margin: 0 10px;
  font-size: 1.3rem;
}
.nav-links a{
  background-color: #252521;
  padding: 10px 15px;
  margin: 0 10px;
  box-shadow: 0 0 5px #aaca1a;
  color: #bba97b;
  border-radius: 10px;
}
.nav-links a:hover {
  box-shadow: 0 0 5px 2px greenyellow ;
}

#bar{
  background-color: #cc48480a;
  color: #b3f027;
  font-size: 2rem;
  padding: 3px 5px;
  cursor: pointer;
  display: none;
}

/* banner start*/
.banner{
  display: flex;
  justify-content: center;
  /* background-color: #be4141; */
  align-items: center;
  min-height: calc(100vh - 100px);
}
.banner-card{
  /* background-color: #fff; */
  user-select: none;
  text-align: center;
  padding: 30px;
  backdrop-filter: blur(4px);
}
.banner h3 {
  font-size: 2rem;
  padding: 10px;
  color: rgb(169 200 77 / 83%);
  font-family: monospace;
  word-spacing: 0.1in;
  letter-spacing: 0.2in;
}
.banner h1 {
  font-size: 4rem;
  padding: 10px;
  color: rgb(169 200 77 / 83%);
  font-family :monospace;

}
.banner p {
  font-size: 1.2rem;
  padding: 10px;
  color: rgba(184, 209, 109, 0.83);
  font-family :monospace
  
}
.btn{
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
  margin :20px;
  color: rgb(12, 12, 12);
  background-color: rgb(213, 235, 14);
  font-family :monospace
  
}
.bunner button:hover {
  box-shadow: 0 0 5px 10px rgb(250, 81, 2) ;
}

section{
  width: 100%;
  min-height: 100vh;
  border-bottom: 1px solid grey;
  padding: 30px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center ;
}
.section-title{
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px solid red;
  width: fit-content;
  margin: auto;
}
#Home{
  background-image: url(../img/cappuccino-756490_640.jpg);
}
#About{
  background-image: url(../img/coffee-3120750_640.jpg);
}
#Service{
  background-image: url(../img/coffee-2608864_640.jpg);
}
#Contact{
  background-image: url(../img/coffee-2306471_640.jpg);
}
#Product{
  background-image: url(../img/coffee-171653_640.jpg);
}

.about-row{
  display: flex;
  margin-top: 50px;
}
.about-img,.about-text{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text *{
  color: black;
}
.about-text {
  font-size: 1.5rem;
  
}
.about-text p{
  line-height: normal;
  font-style: italic;
  background: rgba(226, 222, 222, 0.562);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.about-text h1{
  font-size: 5rem;
  border-bottom: 10px double rgb(37, 226, 12);
  width: fit-content;
  color: #b3f027;
  margin-bottom: 10px;
}
.textGroup a{
  margin: 20px auto;
  padding: 20px;

}
/* product */
.product-row{
  display: flex;
}
.product-img,.product-text{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-text *{
  color: black;
}
.product-text{
  padding: 20px 20px;
}
.product-text h1{
  font-size: 2rem;
  padding:20px;

}
.product-text p{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: normal;
  padding: 20px 40px;
  margin: 20px 10px ;
  background-color: #e7cccc81;
  border-radius: 20px;
}
.product-text a{
  padding: 10px;
}
/* memu row */
.menu-row{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 20px 10px ;
}
.menu-card {
  flex: 1;
  flex-basis: 200px;
  height: 175px;
}
.menu-card img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.menu-card h5{
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  padding: 10px 10px;
}


















/////////////////////////////////////////////////

@media(max-width:1080px){
  .social-links{
    /* display: none; */
    margin-right: 20px;
  }
  .nav-links{
    position: absolute;
    padding: 100px 150px;
    top: 100px ;
    left: 0;
    right: 0;
    opacity: 0;
  }
  .nav-links a{
    display: block;            
    padding: 15px 50px;
    margin: 20px 0px;
    text-align: center;
    
  }
  .show{
    /* display: block; */
    transform: translate(0%);
    opacity: 1;

  }
  #bar{
    display: block;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
  .hide{
    display: none;
  }
  .banner h3{
    font-size: 3.5rem;
    padding: 10px;
    color: rgb(184, 209, 109);

  }
 
}

@media (max-width:500px){
  boby{
    position: relative;
    /* overflow-x: hidden; */
  }
  .social-links i{
    display: none;
  }
  #bar{
    display: block;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
  .nav-links {
    /* display: none; */
    transform: translateX(-100%);
    transition: 1s;
    opacity: 0;
    z-index: 1;
    position: absolute;
    padding: 15px 40px;
    top: 200px ;
    left: 0;
    right: 0;
    opacity: 0;
    
  }
  .nav-links a{
    display: block;            
    padding: 15px 30px;
    margin: 20px 0px;
    text-align: center;
    
  }
  .show{
    /* display: block; */
    transform: translate(0%);
    opacity: 1;

  }
  .hide{
    display: none;
  }
  .logo{
    /* position: relative; */
    /* left: 50px; */
  }
  .banner p{
    font-size: 0.7rem;
    padding: 10px;
    color: rgba(184, 209, 109, 0.83);
  }
  .banner h1 {
    font-size:2rem;
    padding: 10px;
    color: rgb(169 200 77 / 83%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .banner-card{
   /* backdrop-filter: blur(6px); */
    
  }
  .banner h3{
    word-spacing: 0.1in;
    letter-spacing: 0.1in;

  }
  .about-row{
    flex-direction: column;
  }
  .about-text{
    font-size: 1rem;
    text-align: center;
  }
  .product-row{
    flex-direction: column;
  }
  .product-text{
    text-align: center;
  }
  .menu-card {
    flex: 1;
    flex-basis: 150px;
    height: 180px;
  }
  .menu-card h5{
    font-size: 10px;
  }
  

}