
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap");

* {
  min-width: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: inherit;
  color: burlywood;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
svg,
video {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  min-height: 100dvh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/cup-of-coffee-1280537_1280.jpg");
  background-size: cover;
  background-position: 50% 30%;
}
nav {
  width: 100%;
  height: 100px;
  background: #000000a4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  color: grey;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 3px 3px #898941;
  -webkit-text-stroke: 2px #e7af6e;
  transition: 0.5s;
}
.logo span:hover {
  text-shadow: 0 0 20px rgb(245, 245, 237);
}
.social-links i {
  margin: 0 10px;
  font-size: 1.3rem;
}
.nav-links a{
  background-color: #252521;
  padding: 10px 15px;
  margin: 0 10px;
  box-shadow: 0 0 5px #aaca1a;
  color: #bba97b;
  border-radius: 10px;
}
.nav-links a:hover {
  box-shadow: 0 0 5px 2px greenyellow ;
}

#bar{
  background-color: #cc48480a;
  color: #b3f027;
  font-size: 2rem;
  padding: 3px 5px;
  cursor: pointer;
  display: none;
}
/* banner start*/
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  min-height: calc(100vh - 100px);
}
.banner-card{
  padding: 30px;
  text-align: center;
  /* background-color: #fff; */
  backdrop-filter: blur(6px);
}
.banner h3 {
  font-size: 2rem;
  padding: 10px;
  color: rgb(169 200 77 / 83%);

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.banner h1 {
  font-size: 4rem;
  padding: 10px;
  color: rgb(169 200 77 / 83%);
  font-family :monospace;

}
.banner p {
  font-size: 1.2rem;
  padding: 10px;
  color: rgba(184, 209, 109, 0.83);
  font-family :monospace
  
}
.banner button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
  margin :20px;
  color: rgb(12, 12, 12);
  background-color: rgb(213, 235, 14);
  font-family :monospace

}
.bunner button:hover {
  box-shadow: 0 0 5px 10px rgb(250, 81, 2) ;
}

section{
  width: 100%;
  min-height: 100vh;
  border-bottom: 1px solid grey;
  padding: 30px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center ;
}
.section-title{
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px solid red;
  width: fit-content;
  margin: auto;
}
#Home{
  background-image: url(../img/cappuccino-756490_640.jpg);
}
#About{
  background-image: url(../img/coffee-3120750_640.jpg);
}
#Service{
  background-image: url(../img/coffee-2608864_640.jpg);
}
#Contact{
  background-image: url(../img/coffee-2306471_640.jpg);
}
#Product{
  background-image: url(../img/coffee-171653_640.jpg);
}
@media(max-width:1030px){
  .social-links{
    /* display: none; */
  }
  .nav-links{
    position: absolute;
    padding: 100px 100px;
    top: 100px ;
    left: 0;
    right: 0;
  }
  .nav-links a{
    display: block;            
    padding: 13px 10px;
    margin: 10px 10px;
  }
}
@media (max-width:500px){
  boby{
    position: relative;
    /* overflow-x: hidden; */
  }
  .social-links i{
    display: none;
  }
  #bar{
    display: block;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
  .nav-links {
    /* display: none; */
    transform: translateX(-100%);
    transition: 1s;
    opacity: 0;
    z-index: 1;
  
  }
  .show{
    /* display: block; */
    transform: translate(0%);
    opacity: 1;

  }
  .logo{
    /* position: relative; */
    /* left: 50px; */
  }
  .banner p{
    font-size: 1rem;
    padding: 10px;
    color: rgba(184, 209, 109, 0.83);
  }
  .banner h1 {
    font-size:2rem;
    padding: 10px;
    color: rgb(169 200 77 / 83%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .banner-card{
   /* backdrop-filter: blur(6px); */
    
  }
  

}